@model IEnumerable <Entity.Tipo>
@{
    ViewBag.Title = "Tipo";
}

<h2>Tipo</h2>

<a class="btn btn-primary" href="~/Tipo/CreateTipo/">Adicionar Tipo</a>
<table class="table table-responsive table-hover">
    <thead>
        <tr>

           
            <th>Id</th>
            <th>Nome</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            
            <th>@item.IdTipo</th>
            <th>@item.Nome</th>
            <th><a class="btn btn-warning" href="~/Tipo/UpdateTipo/@item.IdTipo">Atualizar</a></th>
            <th><a class="btn btn-danger" href="~/Tipo/Delete/@item.IdTipo">Deletar</a></th>
        </tr>
    }
</table>
